{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "dtypesVoidRequest": {
      "description": "Void Requests and response to use with other types.",
      "type": "object"
    },
    "dtypesVoidResponse": {
      "type": "object"
    },
    "v1beta1GetResponse": {
      "properties": {
        "result": {
          "items": {
            "$ref": "#/definitions/v1beta1PhabNotification"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "v1beta1PhabNotification": {
      "properties": {
        "author_phid": {
          "type": "string"
        },
        "chronological_key": {
          "format": "int64",
          "type": "integer"
        },
        "has_viewed": {
          "format": "int32",
          "type": "integer"
        },
        "story_data": {
          "type": "string"
        },
        "story_phid": {
          "type": "string"
        },
        "story_type": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "phabnotification.proto",
    "version": "1beta1"
  },
  "paths": {
    "/_appscode/api/phabnotification/v1beta1/json": {
      "get": {
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v1beta1GetResponse"
            }
          }
        },
        "summary": "Gets Notifications,",
        "tags": [
          "PhabNotifications"
        ]
      },
      "post": {
        "operationId": "Update",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/dtypesVoidRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/dtypesVoidResponse"
            }
          }
        },
        "tags": [
          "PhabNotifications"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}